*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse specific git ignore
*.pydevproject
*.metadata*
.recommenders/*
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*plugins/*
.mylyn/*
local.properties

# Git files
.metadata/*
.recommenders/*
.plugins/*
.mylyn/*
*.lock*
*.log*
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/.tasks.xml.zip
.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.mylyn/tasks.xml.zip
.metadata/.mylyn/.tasks.xml.zip
.metadata/.plugins/org.eclipse.jdt.core/2863001041.index